extends base.pug

block btn
  a.cta(href="/book/upload")
    button Upload 
    
block style 
    style.
      .homeHeader{
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .homeHeader div{
          margin-top: 30px;
        }
        .homeHeader div span{

          font-size: 50px;
          font-weight: Bold;
        }

        .watchMain {
          height: 80%;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .watchDiv{
        background-color: rgba(0, 136, 169, 1);
        width: 50%;
        max-width: 500px;
        height: 450px;
        margin: 50px;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .watchDiv span {
        font-size: 20px;
        margin: 20px 0px;
        width: 65%;
        height: 10%;
        background-color: inherit;
        color: white;
        border: none;
        border-bottom: 3px solid black;
        text-align: center;
      }

      .watchDiv a{
        margin: 10px 0px;
      }

block header 
  header.homeHeader 
      div 
        span Watch

block main
  main.watchMain 
    div.watchDiv
      span 날짜: #{book.date}
      span 시간: #{book.time}
      span 대표 학번: #{book.student}

      a(href=`${book.id}/edit`) 예약 수정하기 &rarr;
      a(href=`${book.id}/delete`) 예약 지우기 &rarr;